* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    
}

.container {
    padding: 0px 25px;
    width: 70%;
    margin: auto;

}

/*-------- HEADER --------*/
#main-header {
    background-color:  rgb(100, 37, 0,0.7);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 20px;
}

#header-title {
    color: white;
    font-size: 40px;
}

/*-------- MAIN CONTENT --------*/
#main {
    border: 1px solid rgb(180, 180, 180);
    padding: 20px;
    margin-top: 20px;
}

.title {
    margin: 20px 0px;
    font-size: 30px;
}

.title:first-child {
    margin-top: 0px;
}

input {
    height: 30px;
    border: 1px solid rgb(180, 180, 180);
}

.btn {
    background-color: rgb(39, 39, 39);
    color: white;
    width: 100px;
    border: 0px;
    cursor: pointer;
}

.list-group-item {
    border-bottom: 1px solid rgb(180, 180, 180);
    list-style-type: none;
    margin-bottom: 20px;
}

.list-group-item:last-child {
    margin-bottom: 10px;
}
.btn-x{
    float: right;
    background-color: red;
    color: white;
    width: 100px;
}